html,
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    background-color: #0A1128;
}

a {
    text-decoration: none;
    color: #ffab91;
}

a:hover {
    text-decoration: underline;
}

h3 {
    color: #bdbdbd;
}

.page-header {
    text-align: center;
    display: block;
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

.title {
    font-family: 'Dosis', sans-serif;
    color: #ffffff;
    font-size: 4em;
}

.subtitle {
    color: #bdbdbd
}

ul {
    padding: 0;
    margin: 4px;
    list-style: none;
}

.header-social-icons {
    display: block;
    margin: 0 auto;
}

.social-icons-title {
    color: #bdbdbd;
    margin: 2px;
}

.social-icon {
    color: #bdbdbd;
}

.social-icons li {
    vertical-align: top;
    display: inline;
}

.social-icons a {
    color: #ffffff;
    text-decoration: none;
}

.fa-icon {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #252D47;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-github:hover {
    background-color: #6e5494;
}

.project-name {
    font-weight: bold;
}

.project-image {
    height: auto;
    max-width: 100%;
    color: #bdbdbd;
    border-radius: 16px;
}

.project-description {
    color: #bdbdbd;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

.project-card {
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    padding: 4px;
    width: 95%;
    max-width: 600px;
    height: auto;
    background: #252D47;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.app-type {
    color: #ffab91;
    margin-bottom: 0px;
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
}

footer {
    text-align: center;
    color: #bdbdbd;
}

.material-button {
    position: relative;
    display: block;
    margin: 16px auto;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #ffab91;
    color: #000000;
    transition: background-color .3s;
}

.material-button:hover,
.material-button:focus {
    background-color: #ffbfab;
}

.material-button>* {
    position: relative;
}

.material-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.material-button:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
